.Card{
    overflow: hidden;
    a:link{
        text-decoration: none;
        text-align: center;
      }

    margin-top: 20px;
    width: 250px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 0.5px solid white;
    border-radius: 8px;
    box-shadow: 0 0 0 0;
    transition: all 0.3s ease-in-out;
    &:hover{
        box-shadow: 0 0 0 0.5rem rgba(236, 29, 29, 0.26);
    }
}

.Image{
    
    width: 100%;
    max-width: 120px;
    height: 100%;
    max-height: 900px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}

.InsideCard{
    display: flex;
    //center 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    
}