.Container{
    max-width: 1060px;
    margin: auto;
    margin-top: 30px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;

    position: relative;


}

